Package: libtool-bin
Source: libtool
Version: 2.4.6-6
Architecture: amd64
Maintainer: Alastair McKinstry <mckinstry@debian.org>
Installed-Size: 726
Depends: libtool (>= 2.4.6-6)
Replaces: libtool (<< 2.4.2-1.8~)
Section: devel
Priority: optional
Homepage: http://www.gnu.org/software/libtool/
Description: Generic library support script (libtool binary)
 This is GNU libtool, a generic library support script.  Libtool hides
 the complexity of generating special library types (such as shared
 libraries) behind a consistent interface.  To use libtool, add the
 new generic library building commands to your Makefile, Makefile.in,
 or Makefile.am.  See the documentation for details.  Libtool supports
 building static libraries on all platforms.
 .
 Libtool supports generation of C, C++, Fortran and Java libraries.
 .
 This package contains the libtool binary only.
