Package: libtool-doc
Source: libtool
Version: 2.4.6-6
Architecture: all
Maintainer: Alastair McKinstry <mckinstry@debian.org>
Installed-Size: 1047
Conflicts: libtool1.4-doc
Section: doc
Priority: optional
Multi-Arch: foreign
Homepage: http://www.gnu.org/software/libtool/
Description: Generic library support script
 This package contains the GNU libtool documentation.
 .
 GNU libtool is generic library support script.  Libtool hides
 the complexity of generating special library types (such as shared
 libraries) behind a consistent interface.  To use libtool, add the
 new generic library building commands to your Makefile, Makefile.in,
 or Makefile.am.  See the documentation for details.  Libtool supports
 building static libraries on all platforms.
